/* CSS für den WordPress Editor (Gutenberg) */

body {
    --base-bg-color: #241345;
    --base-color: #FFFFFF;
    --navbar-bg-color: #33487E;
    --primary-color: #00c0ff;
    --primary-rgb: 0, 192, 255;
    --secondary-color: #3A2B71;
    --nav-height-mobile: 60px;
    --nav-height-desktop: 100px;
    --base-gradient: linear-gradient(40deg, var(--base-bg-color) 0, var(--navbar-bg-color) 100%);

    background: var(--base-gradient);
    background-attachment: fixed;
    color: var(--base-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.4;
}

.editor-post-title__block,
.editor-post-title__input {
    font-weight: 600;
    font-size: clamp(1.765em, 5vw, 70px);
    line-height: 1.1;
    margin-top: 2em;

    &::after {
        content: "";
        display: block;
        width: 90px;
        height: 4px;
        background-color: var(--primary-color);
        transform: translateX(-10px)
    }
}

/* Headlines */
h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600
}

h1 {
    font-size: clamp(1.765em, 5vw, 70px);
    line-height: 1.1;
    margin-top: 2em
}

h2 {
    font-size: clamp(1.53em, 4vw, 40px);
    line-height: 1.1
}

h3 {
    font-size: 1.4em
}

h4 {
    font-size: 1.2em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1em
}

.is-style-headline::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background-color: var(--primary-color);
    transform: translateX(-10px)
}


/* *********
 * BUTTON Styles
 */
.wp-block-button .wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link,
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--base-color);
    border-radius: 25px;
    font-size: 1rem;
    line-height: 46px;
    height: 50px;
    cursor: pointer;
    padding: 0 1.7rem;
    white-space: nowrap;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    transition: color 350ms ease-in-out, background-color 350ms ease-in-out, box-shadow 300ms linear
}

.wp-block-button.is-style-outline .wp-block-button__link {
    background-color: transparent;
    border-color: var(--base-color)
}

.wp-block-button .wp-block-button__link:hover,
.btn:hover {
    background-color: var(--base-color);
    border-color: var(--base-color);
    color: var(--primary-color);
    box-shadow: 0 3px 6px rgba(var(--primary-rgb), 0.2);
    text-decoration: none
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color)
}

.wp-block-button .wp-block-button__link:active,
.btn:active {
    color: var(--primary-color);
    text-decoration: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6)
}