/* Grundlegendes Styling alle Seiten*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base-bg-color: #FFFFFF;
    --base-bg-color-rgb: 255, 255, 255;
    --base-color: #666666;
    --headline-color: #0F0100;

    --primary-color: #0F0100;
    --primary-rgb: 15, 1, 0;
    --primary-alpha: 1;

    --accent-color: #3B6C9B;
    --focus-outline-color: #8AB1CC;

    --secondary-color: #F5F5F5;

    /* Schriften */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    /* Schriftrößen */
    --font-size-base: 18px; /* Standardgröße Fließtext */
    --font-size-h1: 39.6px; /* Maximalgröße H1 */
    --font-size-h2: 30.6px; /* Maximalgröße H2 */
    --font-size-h3: 30.6px;
    --font-size-h4: 27px;
    --font-size-h5: 23.4px;
    --font-size-h6: 18px;

    /* Dynamische Größen für H1,H2 u big title */
    --font-size-h1-fluid: clamp(40px, 5vw, 70px);
    --font-size-h2-fluid: clamp(30px, 4vw, 50px);
    --font-size-big-title: clamp(40px, 6vw, 100px);

    /* Schriftstärken */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --container-max-width: 1350px;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-size-base);
    line-height: 1.2;
    color: var(--base-color);
    background-color: var(--base-bg-color);
}

header {
    background-color: var(--accent-color);
    width: 100%; /*damits auch auf großen Bildschirmen über volle Breite geht*/
    height: 90px;
}

button {
    font-family: var(--font-primary);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 28px;
    border: 1px solid;
}

h1{font-size: var(--font-size-h1-fluid);
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-transform: uppercase}

h2{font-size: var(--font-size-h2-fluid);
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-transform: uppercase;
}

h3{font-size: var(--font-size-h3);
    font-family: var(--font-primary);
    color: var(--primary-color);
text-transform: uppercase;
    font-weight: var(--font-weight-regular);
}

h4{font-size: var(--font-size-h4);
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);}

h4{font-size: var(--font-size-h5);
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);}

h5{font-size: var(--font-size-h5);
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
}

h6{font-size: var(--font-size-h6);
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
}

p{font-size: var(--font-size-base);
font-family: var(--font-secondary);
color: var(--base-color);}


.image-overlay {
    position: relative;
    display: block; /* Flexibler Bild-Wrapper */
    width: 100%; /* Anpassung Elternbreite */
    height: auto;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.image-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Schwarzes Overlay mit 40% Trans */
    z-index: 1;
    mix-blend-mode: hard-light; /* Overlay-Effekt lt XD */
    pointer-events: none; /* Overlay blockiert keine Klicks */
}

.image-overlay img {
    display: block;
    width: 100%;
    height: auto; /* Skaliert  Bild proportional */
    z-index: 0;
    object-fit: cover;
}

#special-font{font-family: var(--font-primary);
color: var(--font-secondary)}

nav.container {
    display: flex; /* Flexbox innerhalb des Containers */
    justify-content: space-between; /* Abstand zwischen Logo und Navigation */
    align-items: center; /* Vertikale Zentrierung */
    max-width: var(--container-max-width);
    margin: 0 auto; /* Zentriert Container horizontal */
    height: 100%; /* Passt sich Header-Höhe an */
}

.logo{
    max-width: 108.43px;
    height: auto;
    padding-left: 20px;}

.navigation {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 20px;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
}

/*Template Layout*/

/*Hero*/

.hero {
    background-image: url("img/jason-wang-NxAwryAbtIw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    color:var(--base-bg-color);
    position: relative;
    display: flex; /* Flexbox aktivieren */
    align-items: center; /* vertikal zentrieren */
}

.hero .above-level {
    max-width: var(--container-max-width);
    width: 100%; /* Container nimmt die volle verfügbare Breite ein */
    margin: 0 auto; /* Zentriert Container horizontal */
    padding-left: 20px;
    z-index: 2;
}

/*alle Children v hero container sollen unterhalb 30px haben*/
.hero .above-level > * {margin-bottom: 30px;}
/*letztes child nicht*/
.hero .above-level > *:last-child {
    margin-bottom: 0; /* Kein Abstand beim letzten Kind */
}

#umbruch{max-width: 782px; color: var(--base-bg-color);}

.herobutton {
    background-color: transparent;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

/*Schriften-Sektion*/
/*Big Title*/

.big-title-section {
    background-color: var(--accent-color);
    width: 100%;
    height: 136px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 127px;
}

.big-title-inner-section{
    max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.big-title{
    color: var(--base-bg-color);
    font-size: var(--font-size-big-title);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 0;
    z-index: 1;
    line-height: 1;
}

.big-title::before {
    content: ""; /* Erzeugt ein leeres Pseudo-Element */
    position: absolute;
    bottom: 0; /* Startet unten */
    left: 0;
    right: 0;
    height: 10px; /* Definiert, wie viel vom Titel abgeschnitten werden soll */
    background: var(--accent-color); /
    z-index: 2;
}

/*Headlines*/

.fonts{
    max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.headlines>*{margin-bottom: 40px;}

.bold{font-weight: bold;}


.accent-button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 17px;
    border: none;
    display: inline-block;
    margin-top: 50px;
}

/*Gallery-Section*/

.section-margin{padding-top: 125px;
    padding-bottom: 106px;}

.gallery-section{
    max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.gallery-grid{
    padding-top: 125px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.gallery-item {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 446px;
    max-height: 446px;
}


.gallery-nav{
max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gallery-nav ul{
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    max-width: 252px;
    gap: 10px;
}

.page-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: var(--primary-color);
    padding: 8px 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color);
    border-radius: 3px;
    width: 24px;
    height: 24px;
}

.page-link.active{
    background-color: var(--accent-color);
    color: var(--secondary-color);
    pointer-events: none;
}

.gallery-nav .icon-Icon{color: var(--accent-color);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-nav .icon-Icon.turned {
    transform: rotate(180deg); /* Spiegelung des Icons */
}


/*Kundenstimme*/

.feedback{
    max-width: 654px;
width: 100%;
margin: 0 auto;
    text-align: center;
}

.feedback-headline{text-transform: uppercase;
    margin-bottom: 40px;
    font-size: var(--font-size-h3);
    font-family: var(--font-primary);
    color: #2F2F2A;}

.feedback-quote{margin:0 30px 15px 30px;
}

.feedback-name{font-weight: bold;}



/*Footer*/

.footer-background{background-color:
        var(--primary-color);padding: 80px;}

.footer-section{max-width: var(--container-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
display: grid;
    grid-template-columns: 1fr 1fr;}

.footer-logo img{
    width: 100%;
    max-width: 328px;
    min-width: 108px;
    min-height: 27px;
    height: auto;
padding-right: 40px}

.footer-links{display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;}

.footer-links p{color: var(--focus-outline-color);
    text-transform:
        uppercase;
    margin-bottom: 20px;
    font-family: var(--font-primary);}

.footer-links ul{list-style: none;
    padding: 0; margin: 0}

.footer-links ul a{text-decoration: none;
    color: var(--base-bg-color);
    font-family: var(--font-primary);}

.footer-links ul li{margin-bottom: 5px;}

.icon-arrow-4{
    color: var(--base-bg-color);display: inline-block;
    transform: scaleX(-1); margin-right: 5px;
}


/*Footer-Responsiv*/

@media (max-width: 768px) {
    .footer-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-logo {
        margin: 0 auto 20px;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .footer-links ul {
        text-align: left;
    }
}


/* Gallery Grid Section responsiv machen*/

@media (max-width: 1024px) {
    .gallery-grid {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .gallery-item {
        max-width: 100%;
        margin: 0 auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .image-overlay {
        aspect-ratio: 1 / 1;
    overflow: hidden;}
}
@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

    /* Positionierung der Text-Box */
    .image-text {
        position: absolute;
        bottom: 17px;
        left: 17px;
        z-index: 2;
        color: var(--base-bg-color);
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 30px; /* Schriftgröße */
        text-transform: uppercase; /* Großbuchstaben */
    }

@media (min-width: 1024px) {
    .image-text {
        display: none;
    }
}
